/BasicEvaluatorInterpreter/bin/Debug/net6.0/ref/BasicEvaluatorInterpreter.dll
/BasicEvaluatorInterpreter/bin/Debug/net6.0/BasicEvaluatorInterpreter.deps.json
/BasicEvaluatorInterpreter/bin/Debug/net6.0/BasicEvaluatorInterpreter.dll
/BasicEvaluatorInterpreter/bin/Debug/net6.0/BasicEvaluatorInterpreter.pdb
